<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!-- 必须是第一个子节点 -->
  <configSections>
    <section name="NetworkShares" type="System.Configuration.IgnoreSectionHandler"/>
  </configSections>
  
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>


  <appSettings>
    <add key="DefaultLocalProjectPath" value="C:\pleiades\2025-12\wk_cloud\sbj\WebContent"/>
    <add key="DefaultServerProjectPath" value="X:\InterstageApp\StoreDev\WEB-INF"/>
  </appSettings>

  <NetworkShares>
    <Servers>
      <add name="server"
           ip="192.168.246.214"
           username="Administrator"
           password="Fgot8540#1"
           sharePath="\\192.168.246.214\D$"
           driveLetter="X"/>
    </Servers>
  </NetworkShares>
  

</configuration>
